
// Main color

$color-1: #222831;
$color-2: #393E46;
$color-3: #00ADB5;
$color-4: #f2f2f2;
$color-5: orangered;



// ___________________
// Body
$body-bg: $color-4;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "/fonts/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: $color-2;
$headings-color: $color-1;

// Navbar
$navbar-bottom-border-color: $color-3;
$navbar-bg-color: $color-2;
$navbar-text-color: #fff;

// Buttons
$btn-default-color: $text-color;
$btn-bg-color: $color-3;

//Article card (for home page and categories pages)
$article-card-category-bg-color: $color-3;
$article-card-new-bg-color: $color-5;
$article-card-date-bg-color: $color-3;

//Footer
$footer-title-left-border-color: $color-5;
$footer-bg: $color-2;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
