// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "font-awesome/font-awesome";

// Variables
@import "variables";

// Partials

@import "header";
@import "article-card";
@import "footer";
@import "article";
@import "auth";
@import "settings";

// Bootstrap

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Global

body {
  padding-top: 70px;
}

#app {
  min-height: 80vh;
}

form .help-block {
  font-size: 0.8em;
}

//Pagination

#blog ul.pagination {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;

  li {
    &.active span {
      background-color: $color-3;
      border: 1px solid white;
      border-radius: 50%;
      padding: 8px 18px;
      &:hover {
        background-color: $color-3;
        border: 1px solid white;
      }
    }
    &.disabled span {
      background-color: transparent;
      color: #393E46;
      &:hover {
        background-color: transparent;
      }

    }
    span {
      background-color: transparent;
      border: none;
      &:hover {
        background-color: $color-3;
      }
    }
    a {
      background-color: transparent;
      border: none;
      color: #393E46;
      &:hover {
        background-color: transparent;
        color: lighten(#393E46, 10%);
      }
    }

  }
}

