.post-module {
  position: relative;
  border-radius: 2px;
  z-index: 1;
  display: block;
  background: white;
  min-width: 270px;
  height: 370px;
  box-shadow: 0;
  margin-bottom: 10px;

  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.31);
    .thumb img {
      transform: scale(1.1);
      opacity: .6;
    }
    .post-content .description {
      display: block !important;
      max-height: 300px !important;
      opacity: 1 !important;
      transition: opacity 0.4s ease-in, max-height 0.4s ease-in;
    }
  }

  .thumb {
    background: black;
    height: 300px;
    overflow: hidden;
    img {
      display: block;
      transition: transform 0.3s linear, opacity 0.3s linear;
    }
    .date {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
      background: $article-card-date-bg-color;
      width: 55px;
      height: 55px;
      padding: 2px 0;
      border-radius: 50%;
      color: #fff;
      font-weight: 700;
      text-align: center;
      .day {
        font-size: 18px;
      }
      .month {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
  .post-content {
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    padding: 30px;
    .new {
      position: absolute;
      top: -26px;
      right: 0;

      background: $article-card-new-bg-color;
      color: white;
      padding: 2px 15px;
      font-size: 14px;
      font-weight: 600;
    }
    .category {
      position: absolute;
      top: -42px;
      left: 0;
      background: $article-card-category-bg-color;
      padding: 10px 15px;
      color: white;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .title {
      margin: 0;
      padding: 0 0 10px;
      color: $color-1;
      font-size: 26px;
      font-weight: 700;
    }
    .description {
      display: none;
      color: $color-2;
      font-size: 14px;
      line-height: 1.8em;
      max-height: 0;
      opacity: 0;
      transition: opacity 0.2s ease-out, max-height 0.2s ease-out;
    }
    .post-meta {
      margin: 10px 0 0;
      color: lighten($color-2, 50%);
      .timestamp {
        margin: 0 16px 0 0;
      }
      a {
        color: lighten($color-2, 50%);
        text-decoration: none;
      }
    }
  }
}
