article {
  background-color: white;
  border: 1px ghostwhite solid;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  position: relative;
  margin-bottom: 10px;

  .social {
    border-radius: 15px;
    padding: 5px;
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }

    &.twitter {
      background-color: #55ACEE;
      &:hover {
        background-color: #55ACEE;
      }
    }
    &.facebook {
      background-color: #3B5998;
      &:hover {
        background-color: #3B5998;
      }
    }
  }

  .head {
    background-color: whitesmoke;
    img {
      width: 100%;
    }
  }

  .content {
    padding: 15px;
    position: relative;

    .date {
      position: absolute;
      top: 0;
      right: 5px;
    }
    h1 {
      margin-top: 5px;
    }
  }
  .meta {
    .author {
      .by {
        display: inline-block;
        width: 55px;
        font-size: 12px;
      }
      .avatar {
        display: inline-block;
        width: 50px;
        img {
          border-radius: 50%;
          width: 50px;
        }
      }
      .name {
        display: inline-block;
      }
    }
  }
}


.comments {
  $placeholder: #ced2db;
  $text-color: #555f77;
  $links: #0095ff;

  margin: 40px auto 10px 0;
  width: 100%;
  padding: 0 50px;

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: $links;
  }

  input, textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: $text-color;
  }

  p {
    line-height: 21px;
  }

  .comment {
    &.guest {
      padding-left: 55px;
      .text {
        text-align: center;
        font-size: 1.2em;
      }
    }
    margin-bottom: 20px;
    display: table;
    width: 100%;
    min-height: 85px;
  }

  .photo {
    //background-color: #ff6666;
    padding-top: 10px;
    display: table-cell;
    width: 56px;

    .avatar {
      //background-color: #0094ff;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-size: contain;
    }
  }

  .comment-block {
    position: relative;
    padding: 16px;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);

    textarea {
      width: 100%;
      resize: none;
    }
  }

  .comment-text {
    margin-bottom: 20px;
  }

  .bottom-comment {
    color: #acb4c2;
    font-size: 14px;
  }

  .comment-date {
    float: left;
  }

  .comment-actions {
    float: right;

    li {
      display: inline;
      margin: -2px;
      cursor: pointer;

      &.complain {
        padding-right: 12px;
      }

      &.reply {
        padding-left: 12px;
        padding-right: 2px;
      }

      &:hover {
        color: $links;
        //text-decoration: underline;
      }
    }
  }
}