#sign {
  padding: 20px;
  width: 100%;
  min-height: 200px;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  .form-group {
    text-align: left;
    &.text-center {
      text-align: center;
    }
  }
  .google {
    background-color: #CC3732;
    border-radius: 2px;
    color: white;
    padding: 8px 100px;
    text-decoration: none;
  }

  .btn.btn-link {
    color: gray;
    font-size: 0.6em;
  }

  input {
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:1em;
    transition:all 0.1s linear;
    &[type="checkbox"] {
      height:20px;
    }
  }

  button {
    width:70%;
    background-color: $btn-bg-color;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
  }
}