footer {
  padding: 10px;
  width: 100%;
  min-height: 200px;
  background-color: $footer-bg;
  border-top: 1px solid white;
  color: white;

  h3 {
    border-left: 3px solid $footer-title-left-border-color;
    color: white;
    display: inline-block;
    margin: 10px 3px;
    padding-left: 5px;
    font-size: 1.4em;
  }

  p {
    padding: 0 15px;
    text-align: justify;
  }

  ul {
    list-style-type: none;
    padding-left: 10px;
    li a {
      color: whitesmoke;
      text-decoration: none;
      &:hover {
        color: dodgerblue;
        text-decoration: none;
      }
    }
  }
}