nav.navbar {

  border-bottom: 2px solid $navbar-bottom-border-color;
  background-color: $navbar-bg-color;

  .logo {
    vertical-align: middle;
    height: 25px;
  }

  .navbar-form {
    .form-control:focus {
      border: 1px solid $navbar-bottom-border-color;
      box-shadow: none;
    }
    input {
      background-color: lighten($navbar-bg-color, 4%);
      color: lighten($navbar-bg-color, 50%);
      border-radius: 2px;
      border: 1px solid  lighten($navbar-bg-color, 1%);
    }
    button {
      background-color: transparent;
      border: none;
      color: lighten($navbar-bg-color, 50%);
    }
  }

  .navbar-header a {
    color: white;
    &:hover {
      color: white;
    }
  }

  li {
    &.dropdown {
      ul {
        background-color: $navbar-bg-color;
        border: 1px solid $navbar-bottom-border-color;
        border-radius: 2px;
      }
      &.open {
        a {
          background-color: $navbar-bg-color;
          &:hover {
            background-color: $navbar-bg-color;
          }
          &:focus {
            background-color: $navbar-bg-color;

          }
        }
      }
    }
    a {
      color: $navbar-text-color !important;
      &:hover {
        color: darken($navbar-text-color, 30%);
      }
    }
  }
}